* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#detail
{
    display: block;
    margin-left: auto;
    margin-right: auto
	text-align: center;
	width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    display:table;
}	
	
h3 {font-family: Cambria;
margin-bottom: 0;
margin-top: 0;
line-height: 25px;
}

.content {
  max-width: 1400px;
  margin: auto;
  background: white;
  padding: 10px;
}

header {
    background-image: url('images/uu.png');
    background-repeat: no-repeat;
    background-position: center;
	background-size: 20%;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10,10,10,0.1);
}

nav {
    position: relative;
    float: right;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 10px 0 60px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span {
    padding-left: 5px;
}

li a {
    padding: 5px;
    background-color: #fff;
    text-decoration: none;;
}

.cart ion-icon {
   vertical-align: bottom;
   font-size: 20px;
   padding-right: 5px;
}

.cart a {
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}


.container,
.container-products {
	alignment-baseline: center;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-bottom: 40px;
	width: 100%;
	position: relative;
}

.image {
    margin-right: 20px;
    margin-left: 20px;
	margin-bottom: 20px;
    position: relative;
}


.add-cart {
    position: absolute;
	margin-right: 20px;
    margin-left: 20px;
    width: 140px;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
	color: white;
    cursor: pointer;
    text-align: center;
	text-decoration: none;
	vertical-align: baseline;
	border-radius: 9px;
}

.image .cart1,
.image .cart2,
.image .cart3,
.image .cart4,
.image .cart5,
.image .cart6,
.image .cart7,
.image .cart8

{
    position: absolute;
	vertical-align: baseline;
	top: auto;
	bottom: 0px;
    opacity: 1;
    padding: 4px;
    text-decoration: none;
}

/* ----------------- CART PAGE --------------- */

.container-products {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}


.container-products ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity {
    width: 25%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
	position: relative;
    margin-top: 30px;
    padding-bottom: 40px;
}

.total {
    width: 25%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product {
    display: flex;
/*  justify-content: space-around; */
    align-items: flex-start;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;	
    flex-direction: column;
}

.product ion-icon {
    cursor: pointer;
    
}

.products {
    width: 100%;
    display:contents;
    flex-wrap:nowrap;
	 
}
.products {
    width: 100%;
    display:contents;
    flex-wrap:nowrap;
	 
}
.products img {
    width: 65px;
	padding-right: 4px;
	align-content: start;
}

.basketTotalTitle {
    width: 10%;
}

.basketTotal {
    width: 100%;

}

@media(max-width: 500px) {
    nav h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;;
    }

    .sm-hide {
        display: none;;
    }

    .products,
    .product-header {
        justify-content: center;
    }

    .basketTotalContainer {
        padding-right: 8%;
    }
}


